@import "@economist/component-typography";
@import "@economist/component-palette";

:root {
  --ad-left-strip-width: 5px;
}

.animatedpanel__container {
  font-size: 1rem;
  position: relative;
  display: inline-block;
}

.animatedpanel__container--styled .animatedpanel__title,
.animatedpanel__container--styled .animatedpanel__googlead {
  background-color: var(--color-berlin);
}

.animatedpanel__container--styled .animatedpanel__googlead {
  padding-left: var(--ad-left-strip-width);
}
.animatedpanel__container--styled .animatedpanel__title {
  padding: var(--ad-left-strip-width);
  border-top-right-radius: calc(var(--ad-left-strip-width) / 2);
  border-top-left-radius: calc(var(--ad-left-strip-width) / 2);
}

.animatedpanel__container--styled .animatedpanel__title {
  color: var(--color-london);
  font-family: var(--fontfamily-display);
  font-size: var(--text-size-step--1);
  line-height: var(--text-line-height-display-on-step--1);
}

.animatedpanel__container iframe,
.animatedpanel__container img{
  margin: 0 auto;
  display: block;
}

.animatedpanel__animated {
  transform: translateY(100px);
  transition: all 0.4s ease-out 0.5s;
  transition-property: opacity, transform;
  opacity: 0;
}

.animatedpanel__animated.animatedpanel--visible {
  transform: translateY(0px);
  opacity: 1;
}
